*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: white;
    background-color:rgb(201, 18, 18);
    padding: 20px;
}
p{
    text-align: center;
    background-color:rgb(201, 19, 19);
    color: white;
    width: 100%;
}